.aboutMeHero {
    text-align: center;
    margin: 20px;
}

.aboutMeHero > h1 {
    margin: 15px;
}

.aboutMeHero button {
    margin: 20px 0px;
    border-radius: 20px;
    padding: 10px 20px;
    color:white;
    background-color: black;
    font-family: 'Inconsolata', monospace, 'Roboto', sans-serif;
}

.aboutMeHero button a {
    color: white;
}

.aboutMeHero button:hover {
    background-color: #c2c2c2;
    border-color: #c2c2c2;
}

.stacks {
    display: grid;
    grid-template-columns: auto auto;
}

.stack-item img {
    width: 100px;
}

.stack-item figure:hover {
    filter: drop-shadow(0 0 0.25rem white);
}

.stack-item {
    align-self: center;
}