/* Desktop grid */

@media only screen and (min-width: 768px) {
    .Homepage {
        display: grid;
        grid-template-areas: 'heroArea menuArea'
                            'footerArea footerArea';
        justify-content: center;
    }
    .AboutMe {
        display: grid;
        grid-template-areas:    'backMenu backMenu'
                                'aboutMeHero menuArea'
                                'footerArea footerArea';
        justify-content: center;
    }
    .certifications {
        display: grid;
        grid-template-areas: 'backMenu backMenu'
                            'certificationsHero menuArea'
                            'footerArea footerArea';
        justify-content: center;
    }
    .certificationsHero {
        grid-area: certificationsHero;
    }
    .contactMe {
        display: grid;
        grid-template-areas: 'backMenu backMenu'
                            'contactMeHero menuArea'
                            'footerArea footerArea';
        justify-content: center;
    }
    .contactMeHero {
        grid-area: contactMeHero;
    }
    .projects {
        display: grid;
        grid-template-areas: 'backMenu backMenu'
                            'projectsHero menuArea'
                            'footerArea footerArea';
        justify-content: center;
    }
    .projectsHero {
        grid-area: projectsHero;
        justify-self: center;
        overflow-y: scroll;
        height: 400px;
        direction: rtl;
    }
    .project {
        width: 400px;
    }
    .backMenu {
        grid-area: backMenu;
    }
    .aboutMeHero {
        grid-area: aboutMeHero;
        width: 350px;
        overflow-y: scroll;
        height: 400px;
        width: 400px;
        direction: rtl;
    }
    .aboutMeHero .aboutMeHero-title {
        margin: 40px 0px;
    }
    .hero {
        grid-area: heroArea;
    }
    .hero #heroAvatar {
        width: 350px;
        filter: drop-shadow(0 0 0.25rem white);

    }
    .menuDesktop {
        grid-area: menuArea;
        align-items: center;
    }
    .menuDesktop ul li {
        margin: 30px 0px;
    }
    .menuNav {
        display: none;
    }
    .Footer {
        grid-area: footerArea;
    }
    .Footer a {
        margin: 15px 60px;
    }
  }

/* Hiding Menu Nav on mobile */
@media only screen and (max-width: 767px) {
    .menuDesktop {
        display: none;
    }
}